<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Palantir.Field.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Palantir.Field.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
	  <section name="Palantir.Dataflow.Plugins.DataLoaders.ExcelDataImport.Resources.PluginSettings" type="System.Configuration.ClientSettingsSection, System, 
	     Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="PalantirAppSettings" type="Palantir.Common.Configuration.FileConfigurationSection, Palantir.Common.Configuration, Culture=neutral, PublicKeyToken=eb52b3e8c479af58" allowExeDefinition="MachineToApplication" requirePermission="false" />
    <section name="PalantirUserSettings" type="Palantir.Common.Configuration.FileConfigurationSection, Palantir.Common.Configuration, Culture=neutral, PublicKeyToken=eb52b3e8c479af58" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <appSettings>
    <add key="UseSetWindowPosForTopmostWindows" value="True" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <Palantir.Field.Shell.Properties.Settings>
      <setting name="PalantirModuleCatalog" serializeAs="String">
        <value>Palantir.Field.Modules.xaml</value>
      </setting>
      <setting name="PalantirSupplementaryModuleCatalog" serializeAs="String">
        <value>Palantir.Field.Modules.Supplementary.xaml</value>
      </setting>
    </Palantir.Field.Shell.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Palantir.Field.Shell.Properties.Settings>
      <setting name="LastUserName" serializeAs="String">
        <value />
      </setting>
    </Palantir.Field.Shell.Properties.Settings>
	<Palantir.Dataflow.Plugins.DataLoaders.ExcelDataImport.Resources.PluginSettings>
      <setting name="MaxExcelHierarchyDirectoryDepth" serializeAs="String">
        <value>7</value>  <!-- EDIT THIS VALUE AS NEEDED FOR YOUR DEPLOYMENT -->
      </setting>
    </Palantir.Dataflow.Plugins.DataLoaders.ExcelDataImport.Resources.PluginSettings>
  </userSettings>
  <PalantirAppSettings>
    <!-- WPF Performance Settings -->
    <!-- Set to True to show rendering capability information when the application is launched -->
    <setting name="DisplayRenderCapabilityInfo">False</setting>
    <!-- Set to True to disable hardware rendering -->
    <setting name="UseSoftwareRendering">False</setting>
    <!-- Frame rate used for animations (frames per second): set to a value from 1 to 60 or 0 for default -->
    <setting name="DefaultAnimationFrameRate">0</setting>
    <setting name="AllowWindowsAuthentication">true</setting>
    <setting name="OpenChannelTimeout">10000</setting>
    <!-- Interval (in milliseconds) at which the client application polls the server for notification messages: set between 100 and 20000 (default 350).  -->
    <setting name="NotificationMessageRetrievalInterval">350</setting>
    <setting name="HelpPageRelativeUri">PlanningSpaceDataflow/Help/</setting>
    <setting name="AdminHelpPageRelativeUri">PlanningSpaceDataflow/Help/</setting>
    <setting name="MemoryDumpType">MiniDumpWithPrivateReadWriteMemory,MiniDumpWithDataSegs,MiniDumpWithHandleData,MiniDumpWithFullMemoryInfo,MiniDumpWithThreadInfo,MiniDumpWithUnloadedModules</setting>
    <setting name="DefaultSupportEmailAddress">support@palantirsolutions.com</setting>
    <setting name="MailSettings">
      <MailSettings>
        <Protocol>Smtp</Protocol>
        <Settings>
          <SmtpSettings>
            <Host>mailserver.domain.com</Host>
            <DefaultCredentials>true</DefaultCredentials>
          </SmtpSettings>
        </Settings>
      </MailSettings>
    </setting>
    <setting name="License.IsServerMode">True</setting>
    <setting name="License.AllowModeChange">False</setting>
  </PalantirAppSettings>
  <PalantirUserSettings>
    <setting name="UseWindowsAuthentication">false</setting>
  </PalantirUserSettings>
  <system.identityModel>
    <identityConfiguration>
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="EB52B3E8C479AF58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.66.1" newVersion="1.0.66.1" />
      </dependentAssembly>
    </assemblyBinding>
    <generatePublisherEvidence enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>