
/******* 
-----Delete audit log from specific date in batches
-----Tested against 16.5
**********/

IF IS_ROLEMEMBER('dbo') = 0
BEGIN
	RAISERROR ('This script must be run by a user with the dbo role',16,1)
	RETURN;
END 

DECLARE 
@DATEtoDeleteFrom nvarchar(20) = '2000-01-24' ----Enter date to delete from here
,@Batchsize int = 10000						  ----Alter batch size here
,@Count int =1
,@User nvarchar(100) = CURRENT_USER
,@MachineName nvarchar(255) = HOST_NAME()
,@Rows bigint
,@Comment nvarchar(50)  
  
SELECT @Rows = COUNT(*) FROM COMMON.AuditLog WHERE Timestamp >= @DATEtoDeleteFrom 
SET @Comment = (CONVERT(nvarchar(20),@Rows)) + ' AuditLog rows Truncated from ' + @DATEtoDeleteFrom

SET XACT_ABORT ON

  WHILE @Count > 0
  BEGIN
	DELETE TOP (@Batchsize) FROM COMMON.AuditLog WHERE Timestamp >= @DATEtoDeleteFrom;
	CHECKPOINT;
	SET @Count = @@ROWCOUNT;
  END

EXEC [COMMON].[InsertAuditLog] 0, 20, 0, 'AuditLog', @User, 0 , @Comment,@MachineName, 'Audit'