<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aucerna.PSEconExtractor.Common.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aucerna.PSEconExtractor.Common.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aucerna.PSEconExtractor.Common.Properties.AppSettings>
            <setting name="PS_UserName" serializeAs="String">
                <value>feedkey</value>
            </setting>
            <setting name="Option_CurrencyDeckName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsPeriodicity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsStartYear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsEndYear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUnitSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUnitScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCurrency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCurrencyDeck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRealNominal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsInflationDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Option_CurrencyCode" serializeAs="String">
                <value />
            </setting>
            <setting name="Option_Periodicity" serializeAs="String">
                <value />
            </setting>
            <setting name="Option_UnitSystem" serializeAs="String">
                <value />
            </setting>
            <setting name="Option_UnitScale" serializeAs="String">
                <value />
            </setting>
            <setting name="Option_RealNominal" serializeAs="String">
                <value />
            </setting>
            <setting name="Option_StartDate" serializeAs="String">
                <value>2021-01-01</value>
            </setting>
            <setting name="Option_EndDate" serializeAs="String">
                <value>2030-01-01</value>
            </setting>
            <setting name="Option_InflationDate" serializeAs="String">
                <value>2021-01-01</value>
            </setting>
            <setting name="ApiRequestPageSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SettingsKeyPath" serializeAs="String">
                <value>C:\temp\user.config</value>
            </setting>
            <setting name="DBWritePageSize" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadAllProjectsThreshold" serializeAs="String">
                <value>30</value>
            </setting>
        </Aucerna.PSEconExtractor.Common.Properties.AppSettings>
        <Aucerna.SsisExtractor.Common.Properties.AppSettings>
            <setting name="Option_ResultSetName" serializeAs="String">
                <value>Romania Test1</value>
            </setting>
            <setting name="Option_SensitivityRunName" serializeAs="String">
                <value />
            </setting>
            <setting name="PlanningSpaceEcon_Url" serializeAs="String">
                <value>https://lonqaauth01.qa.aucerna.com/Atlantis/PlanningSpaceEconomics/data/v1/ </value>
            </setting>
            <setting name="PlanningSpace_UserName" serializeAs="String">
                <value>feedkey</value>
            </setting>
            <setting name="StagingTarget_InitialCatalog" serializeAs="String">
                <value>OMV_NAMR_TEST</value>
            </setting>
            <setting name="StagingTarget_ServerName" serializeAs="String">
                <value>CGYISSQL01\mssql17</value>
            </setting>
            <setting name="SSIS_ProjectName" serializeAs="String">
                <value>OMV_SsisExtractor</value>
            </setting>
            <setting name="SSIS_FolderName" serializeAs="String">
                <value>PS_EXTRACT_TEST</value>
            </setting>
            <setting name="SSIS_CatalogName" serializeAs="String">
                <value>SSISDB</value>
            </setting>
            <setting name="LastJobId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPackageName" serializeAs="String">
                <value />
            </setting>
            <setting name="PlanningSpace_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SSIS_PackageEconEverything" serializeAs="String">
                <value>PackageEconConsole.dtsx</value>
            </setting>
            <setting name="VariablesFilteredByResultSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResultSetFolderName" serializeAs="String">
                <value>RootFolder</value>
            </setting>
            <setting name="Option_PartnerName" serializeAs="String">
                <value>Company</value>
            </setting>
            <setting name="Option_VersionName" serializeAs="String">
                <value>Live</value>
            </setting>
            <setting name="Option_NodeTypeName" serializeAs="String">
                <value>Organization</value>
            </setting>
            <setting name="VariablesFilteredByName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VariableNameFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="IsPeriodicity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsStartYear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsEndYear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUnitSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUnitScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCurrency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCurrencyDeck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRealNominal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsInflationDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Option_Periodicity" serializeAs="String">
                <value />
            </setting>
            <setting name="Option_UnitSystem" serializeAs="String">
                <value />
            </setting>
            <setting name="Option_UnitScale" serializeAs="String">
                <value />
            </setting>
            <setting name="Option_RealNominal" serializeAs="String">
                <value />
            </setting>
            <setting name="Option_StartDate" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="Option_EndDate" serializeAs="String">
                <value>2100-01-01</value>
            </setting>
            <setting name="Option_InflationDate" serializeAs="String">
                <value>2021-01-01</value>
            </setting>
            <setting name="Option_PS_ResultSetID" serializeAs="String">
                <value>395</value>
            </setting>
            <setting name="Option_VariableName" serializeAs="String">
                <value />
            </setting>
            <setting name="Option_FilteredVariableName" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiRequestPageSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PS_Server" serializeAs="String">
                <value>https://lonqaauth01.qa.aucerna.com</value>
            </setting>
            <setting name="PS_Tenant" serializeAs="String">
                <value>Atlantis</value>
            </setting>
            <setting name="SettingsKeyPath" serializeAs="String">
                <value>C:\temp\user.config</value>
            </setting>
            <setting name="StagingTarget_Username" serializeAs="String">
                <value>svc_namr</value>
            </setting>
            <setting name="StagingTarget_Password" serializeAs="String">
                <value>svc_namr</value>
            </setting>
        </Aucerna.SsisExtractor.Common.Properties.AppSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.9.0.0" newVersion="7.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.9.0.0" newVersion="7.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Aucerna.PSEconExtractor.Common.Properties.AppSettings>
      <setting name="StagingTarget_InitialCatalog" serializeAs="String">
        <value>P2V_P_NAMRTOOL</value>
      </setting>
      <setting name="StagingTarget_ServerName" serializeAs="String">
        <value>SOMVAT702565\P2017SH1</value>
      </setting>
      <setting name="PS_Server" serializeAs="String">
        <value>https://ips-prod.ww.omv.com</value>
      </setting>
      <setting name="PS_Tenant" serializeAs="String">
        <value>P2V-PROD</value>
      </setting>
      <setting name="StagingTarget_Username" serializeAs="String">
        <value>namr_svc</value>
      </setting>
      <setting name="StagingTarget_Password" serializeAs="String">
        <value>Rep4NAMR!</value>
      </setting>
    </Aucerna.PSEconExtractor.Common.Properties.AppSettings>
  </applicationSettings>
</configuration>